<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gestion3d">

    <!-- Permisos necesarios para la aplicación -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestion3D"
        tools:targetApi="31">

        <!-- Actividad de inicio (pantalla de carga) -->
        <activity
            android:name=".activities.inicio.InicioActivity"
            android:exported="true"
            android:theme="@style/Theme.Gestion3D.NoTexture">
            <intent-filter>  <!-- Define que esta actividad es la principal -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para el Onboarding (introducción para nuevos usuarios) -->
        <activity android:name=".activities.main.OnboardingActivity" android:exported="false"
            android:theme="@style/Theme.Gestion3D.NoTexture"/>

        <!-- Actividad de inicio de sesión -->
        <activity android:name=".activities.auth.LoginActivity" android:exported="false"
            android:theme="@style/Theme.Gestion3D.NoTexture"/>

        <!-- Actividad de registro de nuevos usuarios -->
        <activity android:name=".activities.auth.RegisterActivity" android:exported="false"
            android:theme="@style/Theme.Gestion3D.NoTexture"/>

        <!-- Actividad principal de la aplicación -->
        <activity android:name=".activities.main.MainActivity" android:exported="false" />

        <!-- Actividades del módulo de gestión -->
        <activity android:name=".activities.gestion.GestionMaterialesActivity" android:exported="false" />
        <activity android:name=".activities.gestion.GestionProductosActivity" android:exported="false" />
        <activity android:name=".activities.gestion.GestionOrdenesActivity" android:exported="false" />
        <activity android:name=".activities.gestion.GestionClientesActivity" android:exported="false" />

        <!-- Actividad para estadísticas aún sin contenido (Proximamente) -->
        <activity android:name=".activities.EstadisticasActivity" android:exported="false" />

        <!-- Actividades relacionadas con el perfil del usuario -->
        <activity android:name=".activities.perfil.EditarPerfilActivity" android:exported="false" />
        <activity android:name=".activities.grupo.GestionGrupoActivity" android:exported="false" />

        <!-- Actividades auxiliares para la gestión de materiales y grupos -->
        <activity android:name=".activities.grupo.UnirseGrupoActivity" android:exported="false" />
        <activity android:name=".activities.grupo.CrearGrupoActivity" android:exported="false" />

    </application>
</manifest>
